.inprogress_container {
  gap: 48px;
  left: 64px;
  padding: 0;
  position: absolute;
  top: 108px;
  width: 1792px;
}

.course_grid_row {
  background: white;
  border-radius: 8px;
  flex: none;
  flex-grow: 0;
  height: 519px;
  order: 1;
  width: 1792px;
}

.grid_title {
  gap: 16px;
  height: 55px;
  left: 72px;
  margin: 0;
  position: absolute;
  top: 56px;
  width: 645px;
}

.grid_title > h3 {
  color: var(--neutral-dark);
  font-size: 24px;
  font-weight: 700;
}

.grid_title > p {
  color: var(--neutral-cloudy);
  font-size: 16px;
  font-weight: 400;
}
