.inprogress_content {
  left: 64px;
  padding: 0;
  position: relative;
  top: 108px;
  width: 1792px;
}

.grid_header_left {
  gap: 16px;
  left: 72px;
  position: absolute;
  top: 56px;
  width: 645px;
}

.inprogress_grid {
  align-items: flex-start;
  background: var(--neutral-white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-top: 48px;
  position: relative;
  width: 1792px;

}

.grid_title {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 72px;
  margin-top: 36px;
}

.grid_title h3 {
  color: var(--neutral-dark);
  font: var(--bold-title-MD);
  margin: 0;
}

.grid_title p {
  color: var(--neutral-cloudy);
  font: var(--regular-body-LG);
  margin: 0;
}
