<app-header [mode]="'light'"></app-header>
<main class="inprogress_container">
  <section class="banner">
    <hgroup class="banner_text">
      <h1>Conheça a jornada do Trakto Edu</h1>
      <p>O design como ferramenta educadora.</p>
    </hgroup>
    <img
      class="banner_img"
      src="../../../../assets/images/banner/person.png"
      alt="Foto do Tiago Mochileiro"
    />
    <img
      class="banner_person_name"
      src="../../../../assets/images/banner/TiagoMochileiro.svg"
      alt="Nome Tiago Mochileiro"
    />
    <img
      class="banner_person_arrow"
      src="../../../../assets/images/banner/arrow.png"
      alt="Nome Tiago Mochileiro"
    />
  </section>

  <section class="course_grid_row">
    <div>
      <div class="course_grid_row_left">
        <div class="grid_header">
          <img
            src="../../../../assets/images/course/arrow-left.svg"
            alt="arrow left"
          />
          <img
            src="../../../../assets/images/course/arrow-right.png"
            alt="arrow right"
          />
        </div>
        <hgroup class="grid_title">
          <h3>Em construção</h3>
          <p>Em breve novos conteúdos.</p>
        </hgroup>
      </div>
    </div>
  </section>
</main>
