.viewAll_container {
  height: 2442px;
  position: relative;
  width: 1920px;

}

.viewAll_content {
  background: var(--neutral-white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 1240px;
  left: 64px;
  padding: 0 0 620px;
  position: absolute;
  top: 108px;
  width: 1792px;
}

.viewAll_grid_items {

}

.grid_title {
  height: 55px;
  left: 72px;
  position: absolute;
  top: 56px;
  width: 645px;
}

.grid_title h3 {
  color: var(--neutral-dark);
  font: var(--bold-title-MD);
  line-height: 28px;
  margin: 0 0 8px;
}

.grid_title p {
  color: var(--neutral-cloudy);
  font: var(--regular-body-LG);
  line-height: 19px;
  margin: 0;
}

.grid_items {
  align-items: flex-start;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  gap: 32px;
  height: 256px;
  left: 72px;
  margin-top: 139px;
  position: absolute;
  width: 1720px;
}
