.grid_items_container {
  background: white;
  border-radius: 8px;
  display: flex;
  flex: none;
  flex-flow: column wrap;
  height: 519px;
  margin-top: 48px;
  position: relative;
  width: 1792px;
}


.grid_header_left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 72px;
  position: absolute;
  top: 56px;
  width: 645px;
}

.grid_header_right {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 72px;
  top: 56px;
}

.grid_scroll_period {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  padding: 0;
}

.period {
  background: var(--neutral-light);
  border-radius: 500px;
  color: var(--neutral-cloudy);
  font: var(--medium-body-LG);
  line-height: 19px;
  margin: auto;
  padding: 4px 8px;
  text-align: center;
}

.grid_title {
  gap: 8px;
  margin: 0;
}

.grid_title h3 {
  color: #354564;
  font-size: 24px;
  font-weight: 700;
}

.grid_title p {
  color: #7183a6;
  font-size: 16px;
  font-weight: 400;
}

.docs {
  border: 1px solid #4743ff;
  color: #4743ff;
}

.yt {
  border: 1px solid #ff0100;
  color: #ff0100;
  gap: 8px;
}

.grid_videos {
  height: 174.29px;
  overflow-x: scroll;
  position: absolute;
  width: 1720px;
}

.grid_items {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 32px;
  height: 256px;
  left: 72px;
  margin-top: 199px;
  overflow-x: scroll;
  position: absolute;
  width: 1720px;
}

