<section class="grid_items_container">
  <div class="grid_header_left">
    <div class="grid_scroll_period">
      <p class="period">Semana 24/04 até 29/04</p>
      <img [src]="icons.arrow_left" alt="arrow left" />
      <img [src]="icons.arrow_right" alt="arrow right" />
    </div>

    <hgroup class="grid_title">
      <h3>{{ theme.title }}</h3>
      <p>{{ theme.description }}</p>
    </hgroup>
  </div>

  <button
    class="grid_header_right button"
    [ngClass]="theme.type"
    (click)="reDirect()"
  >
    <img *ngIf="theme.type === 'yt'" [src]="icons.ivideo" />
    {{ theme.viewMore.text }}
  </button>

  <div class="grid_items_content">
    <app-item-render
      *ngFor="let doc of theme.docs"
      id="{{ doc.id }}"
      [doc]="doc"
    >
    </app-item-render>
    <img class="grid_videos" *ngIf="theme.videos" [src]="icons.videos" />
  </div>
</section>
