<header class="header__content" [ngSwitch]="mode" [ngClass]="mode">
  <div class="header_left" *ngSwitchCase="'dark'">
    <img [src]="icons.logo.dark" alt="Logo TraktoEdu" />
  </div>
  <div class="header_left" *ngSwitchCase="'light'">
    <img [src]="icons.logo.light" alt="Logo TraktoEdu" />
    <button
      class="button header_button_logout"
      type="button"
      routerLink="/home"
    >
      <img [src]="icons.logout" alt="icon logout" />
      <span class="button_text">Trocar de ambiente</span>
    </button>
  </div>
  <div class="header_right" *ngSwitchCase="'dark'">
    <div class="img_group">
      <img [src]="icons.calendar" alt="icon calendar" />
      <span>{{ transformDate() }}</span>
    </div>
    <img [src]="icons.line" alt="line" />
    <img [src]="icons.bell" alt="icon-notification" />
    <img [src]="icons.line" alt="line" />
    <div class="img_group">
      <img [src]="icons.avatar.img" alt="avatar user" />
      <img [src]="icons.avatar.arrow" alt="icon arrow" />
    </div>
  </div>
  <div class="header_right" *ngSwitchCase="'light'">
    <img [src]="icons.group" alt="nav-bar-right" />
  </div>
</header>
