.header__content {
  align-items: center;

  /* background: var(--bg-neutral-white); */
  display: flex;
  height: 76px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
  z-index: 999;
}

.dark {
  background: var(--hbg-dark);
  color: var(--neutral-light);
}

.light {
  background: var(--neutral-white);
  color: var(--neutral-cloudy);
}

.header_left {
  display: flex;
  flex-direction: row;
  margin-left: calc(50% - 142.84px/2 - 823.58px);

}

.header_button_logout {
  border: 1px solid #7183a6;
  color: #7183a6;
  font-size: 20px;
  gap: 8px;
  left: 264px;
  line-height: 23px;
  position: absolute;
  text-decoration: none;
  top: 10px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(0.9);
}

.header_button_logout img {
  height: 24px;
  width: 24px;
}

.header_right {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 32px;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: 64px;
  top: 21px;
}

.img_group {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin: 4px;
}

