a {
  text-decoration: none;
}

.doc_thumb {
  border-radius: 8px;
  font-family: Roboto , sans-serif;
}

img {
  border-radius: 8px;
  height: 174px;
  width: 100%;
}

.doc_slides {
  align-items: center;
  background: #0c0c0c;
  border-radius: 500px;
  display: flex;
  height: 24px;
  justify-content: center;
  margin-left: 16px;
  margin-top: 134px;
  opacity: 0.7;
  padding: 4px 8px;
  position: absolute;
  width: 66px;
}

.doc_slides > p {
  color: var(--neutral-white);
  font: var(--regular-body-MD);
  line-height: 16px;
  margin: auto;

}

.doc_title, .doc_title > p {
  color: var(--neutral-dark);
  font: var(--medium-body-XLG);
  line-height: 21px;
  margin: 12px 0 0;
  width: 310px;
}
