<section class="banner">
  <div class="banner_content">
    <hgroup class="banner_text">
      <h1>Conheça a jornada do Trakto Edu</h1>
      <p>O design como ferramenta educadora.</p>
    </hgroup>
    <img
      class="banner_img"
      src="../../../../assets/images/banner/person.png"
      alt="Foto do Tiago Mochileiro"
    />
    <img
      class="banner_person_name"
      src="../../../../assets/images/banner/TiagoMochileiro.svg"
      alt="Nome Tiago Mochileiro"
    />
    <img
      class="banner_person_arrow"
      src="../../../../assets/images/banner/arrow.png"
      alt="Nome Tiago Mochileiro"
    />
  </div>
</section>
