<header class="header__traktoedu">
  <div class="header_left">
    <img src="../../../assets/images/logo-edu-white.svg" alt="Logo TraktoEdu" />
  </div>
  <div class="header_right">
    <div class="img_group">
      <img src="../../../assets/images/icon-calendar.png" alt="iconcalendar" />
      <p>27/04/2024</p>
    </div>
    <img src="../../../assets/images/line.png" alt="line" />
    <img
      src="../../../assets/images/icon-notification.png"
      alt="icon-notification"
    />
    <img src="../../../assets/images/line.png" alt="line" />
    <div class="img_group">
      <img src="../../../assets/images/avatar.png" alt="avatar user" />
      <img src="../../../assets/images/icon-arrow.png" alt="icon arrow" />
    </div>
  </div>
</header>
