/* You can add global styles to this file, and also import other style files */
:root {

  --bg-dark: #1d1b1b;

  --bg-green: #047534;

  --hbg-dark: #252323;

  --brand-green: #1dc763;

  --brand-trakto-light: #66bfff;

  --brand-trakto: #0095ff;

  --brand-trakto-app: #4743ff;

  --brand-orange: #fe6e46;

  --brand-yellow-light: yellow-light;

  --brand-yellow: #ffc13d;

  --md-blue: #4173cd;

  --bg-light-blue: #eff2f9;

  --neutral-white: white;

  --md-blue-light: #80abf9;

  --neutral-light: #e4ebfb;

  --neutral-clear: #d0daef;

  --neutral-cloudy: #7183a6;

  --neutral-dark: #354564;

  --neutral-darknest: #04183e;

  --qz-green-light: #91dea2;

  --yt-grey-dark: #464141;

  --yt-rose: #ff6868;

  --ytb-red: #ff0100;

  --yt-red: red;

  --yt-red-light: #f22;

  --yt-rose-light1: #ffbfbf;

  --yt-rose-light2: #f4aeff;

  --yt-rose-light3: #f6b5ff;

  --medium-title-SM: normal 500 20px roboto , sans-serif;

  --bold-title-MD: normal 700 24px roboto , sans-serif;

  --regular-title-LG: normal 400 32px roboto , sans-serif;

  --regular-body-MD: normal 400 14px roboto , sans-serif;

  --regular-body-LG: normal 400 16px roboto , sans-serif;

  --medium-body-LG: normal 500 16px roboto , sans-serif;

  /* Legendas */

  --medium-body-XLG: normal 600 18px roboto , sans-serif;

}

@font-face {
  font-family: funky monkey;
  font-style: normal;
  font-weight: 400;
  src: url('src/assets/fonts/FunkyMonkey.ttf') format('ttf') , url('https://fonts.cdnfonts.com/s/94343/Funky Monkey.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg-light-blue);
  font-family: Roboto , sans-serif;
  margin: auto;
  position: relative;
}

.button {
  align-items: center;
  background: var(--neutral-white);
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  font: var(--medium-body-LG);
  gap: 8px;
  height: 52px;
  justify-content: center;
  padding: 16px 24px;
}
