/* You can add global styles to this file, and also import other style files */
:root {

  --bg-dark: #1d1b1b;

  --bg-green: #047534;

  --hbg-dark: #252323;

  --brand-green: #1dc763;

  --brand-trakto-light: #66bfff;

  --brand-trakto: #0095ff;

  --brand-trakto-app: #4743ff;

  --brand-orange: #fe6e46;

  --brand-yellow-light: yellow-light;

  --brand-yellow: yellow;

  --md-blue: #4173cd;

  --bg-light-blue: #eff2f9;

  --neutral-white: white;

  --md-blue-light: #80abf9;

  --neutral-light: #e4ebfb;

  --neutral-clear: #d0daef;

  --neutral-cloudy: #7183a6;

  --neutral-dark: #354564;

  --neutral-darknest: #04183e;

  --qz-green-light: #91dea2;

  --yt-grey-dark: #464141;

  --yt-rose: #ff6868;

  --ytb-red: #ff0100;

  --yt-red: red;

  --yt-red-light: #f22;

  --yt-rose-light1: #ffbfbf;

  --yt-rose-light2: #f4aeff;

  --yt-rose-light3: #f6b5ff;

}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg-light-blue);
  font-family: Roboto , sans-serif;
  height: 1080px;
  position: relative;
  width: 1920px;
}

.course_button {
  align-items: center;
  background: white;
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  font-family: Roboto , sans-serif;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
  padding: 16px 24px;
}
