/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  background: #eff2f9;
  font-family: Roboto , sans-serif;
  margin: auto;
}

.course_button {
  align-items: center;
  background: white;
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  font-family: Roboto , sans-serif;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
  padding: 16px 24px;
}
